name: nuget

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version (e.g., 1.2.3.4)"
        required: true
        default: "10.0.0.0"
jobs:
  build:
    runs-on: macos-latest
    timeout-minutes: 20
    steps:
    
    - name: Checkout
      uses: actions/checkout@v2
    
    - name: Verify commit exists in origin/master
      run: |
        git fetch --no-tags --prune --depth=1 origin +refs/heads/*:refs/remotes/origin/*
        git branch --remote --contains $(git rev-parse HEAD) | grep origin/master
   
    - name: Setup .NET 10
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'
        dotnet-quality: 'preview'

    - name: Install workloads
      run: dotnet workload install android ios wasm-tools

    - name: Set VERSION variable from input
      run: echo "VERSION=${{ github.event.inputs.version }}" >> $GITHUB_ENV

    - name: Restore
      run: dotnet restore PlusUi.sln

    - name: Build
      run: dotnet build PlusUi.sln --no-restore --configuration Release /p:Version=${VERSION}

    - name: Pack
      run: dotnet pack PlusUi.sln --no-build --no-restore --configuration Release /p:Version=${VERSION} --output .
    
    - name: Push
      run: dotnet nuget push **.*.nupkg --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_API_KEY }} --skip-duplicate
