name: nuget

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version (e.g., 1.2.3.4)"
        required: true
        default: "1.0.0.0"
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
    
    - name: Checkout
      uses: actions/checkout@v2
    
    - name: Verify commit exists in origin/master
      run: |
        git fetch --no-tags --prune --depth=1 origin +refs/heads/*:refs/remotes/origin/*
        git branch --remote --contains $(git rev-parse HEAD) | grep origin/master
   
    - name: Setup .NET 10
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'
        dotnet-quality: 'preview'

    - name: Set VERSION variable from input
      run: echo "VERSION=${{ github.event.inputs.version }}" >> $GITHUB_ENV
    
    - name: Restore
      run: dotnet restore nuget.sln -f
    
    - name: Build
      run: dotnet build nuget.sln --no-restore --configuration Release /p:Version=${VERSION}
    
    - name: Build Source Generator
      run: dotnet build source/PlusUi.SourceGenerators/PlusUi.SourceGenerators.csproj --no-restore --configuration Release
    
    - name: Pack
      run: dotnet pack nuget.sln --no-build --no-restore --configuration Release /p:Version=${VERSION} --output .
    
    - name: Push
      run: dotnet nuget push **.*.nupkg --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_API_KEY }} --skip-duplicate
